* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  height: 120vh;
}

main {
  background-color: white;
  width: 60%;
  margin: auto;
  margin-top: 0.5em;
  padding: 4em 3em;
}

.label-input {
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #8a8b8e;
}

.inputwithicon {
  background-image: url("./images/times-circle.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1.3em;
}

.label-input input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bfbfbf;
  font-style: italic;
  color: #bfbfbf;
}

.input {
  width: 50%;
  padding: 0.5em;
}

.labels {
  width: 50%;
}

.multi-line1 {
  width: 10%;
  padding: 0.5em;
}

.multi-line2 {
  width: 40%;
  padding: 0.4em;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
}

input[type="radio"]:checked + label {
  border-bottom: 2px solid #be1400;
  color: #be1400;
}

.radio1 {
  border: 1px solid #bfbfbf;
  text-align: center;
}

.radio2 {
  width: 25%;
  padding: 1em 0.3em;
}
.radio3 {
  border: 1px solid #bfbfbf;
  text-align: center;
  width: 16.6%;
  padding: 1em 0.2em;
}

.radio4 {
  width: 16.6%;
}

fieldset {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top: 2px solid black;
}

.button1 {
  background-color: #be1400;
  border-radius: 3px;
  color: white;
  padding: 1em 1.6em;
  font-size: medium;
  float: right;
  border: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  border-top: 10px solid black;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  width: 6em;
}

.hidden {
  display: none;
}
