* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  border: 1px solid black;
  width: 100%;
  min-height: 20vh;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.content {
  border: 1px solid black;
  width: 100%;
  min-height: 30vh;
  background-color: lightblue;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.features {
  display: flex;
  flex-direction: column;
}

.features article {
  border: 1px solid black;
  min-height: 12.5vh;
  background-color: gold;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

article:nth-of-type(1) {
  background-color: aliceblue;
}

article:nth-of-type(2) {
  background-color:coral;
}

article:nth-of-type(3) {
  background-color:darksalmon;
}

article:nth-of-type(4) {
  background-color:fuchsia;
}

@media (min-width: 600px) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features article {
    width: 50%;
    min-height: 25vh;
  }
}

@media (min-width: 900px) {
  main {
    flex-direction: column-reverse;
  }
  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features article {
    width: 33.33%;
  }
  article:nth-of-type(1) {
    order: 4;
    flex: 3;
  }
}
